{% macro camera_html(camera, home = true) %}

    <div class="text-center">
        {% if home %}
        <a href="{{ path('live', {name: camera}) }}">
            {% endif %}
            <img
                    class="live img-responsive"
                    data-src="{{ path('last', {name: camera}) }}"
                    src="{{ path('last', {name: camera}) }}"
            />
            {% if home %}
            <div>{{ camera }}</div>
        </a>
        {% endif %}
    </div>

{% endmacro %}

{% macro camera_js() %}

    <script type="text/javascript">

        setInterval(function () {

            var val = 10000;

            if ($('#slider').length) {
                val = $('#slider').slider("option", "value");
            }

            if (val === 10000) {
                $('.live').each(function () {
                    var that = $(this);
                    that.attr('src', (that.data('src') + '?tm=' + (Date.now() / 1000 | 0)));
                });
            }

        }, 1000);

    </script>

{% endmacro %}
