{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Cameras{% endblock %}

{% block body %}
    {% import 'AppBundle::macros.html.twig' as helper %}

    <div class="row">

        {% for camera in cameras %}

            <div class="col-md-6">
                {{ helper.camera_html(camera) }}
            </div>

        {% endfor %}

    </div>

{% endblock %}

{% block script %}
    {% import 'AppBundle::macros.html.twig' as helper %}

    {{ helper.camera_js() }}

{% endblock %}
