{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {% if is_granted('ROLE_USER') %}

        {% for camera in cameras %}
            <h2>
                <a href="{{ path('live', {name: camera}) }}">{{ camera }}</a>
            </h2>
        {% endfor %}

    {% endif %}

{% endblock %}
